@import "tailwindcss";

@theme inline {
  --color-brand-green: #54b435;
  --color-brand-green-dark: #379237;
  --color-brand-green-light: #edfbe2;
  --color-brand-dark: #0f172a;
  --font-sans: var(--font-lato);
  --font-serif: var(--font-lora);
}

body {
  background: #ffffff;
  color: #313131;
}

html {
  scroll-behavior: smooth;
}
